[phases.setup]
nixPkgs = ["python311", "gcc", "gnumake", "curl", "stdenv.cc.cc.lib"]

[phases.install]
cmds = [
    "python3 -m venv .venv",
    ". .venv/bin/activate && curl -sS https://bootstrap.pypa.io/get-pip.py | python",
    ". .venv/bin/activate && pip install --upgrade pip setuptools wheel",
    ". .venv/bin/activate && pip install -r requirements.txt"
]

[start]
cmd = ". .venv/bin/activate && gunicorn -w 4 -b 0.0.0.0:$PORT api_server:app"
